<div class="header">
    <p align="center">Critter Quest</p>
    <a href="EnterCombat">Combat</a>
    <a href="Inventory">Inventory</a>
    <a href="Game">Game</a>
    <a href="/">Main Page</a>
    <a href="City">City</a>
    <table>
        <tr>
            <td>
                <form action="Inventory" method="get">
                    <input type="submit" value="Inventory"/>
                    <input type="submit" value="Critter details"/>
                    <label for="selected-critter">Active critter:</label>

                    <select name="critters" id="selected-critter">
                        <option value="">--Please choose an option--</option>
                        <option value="1">Red Widget (4/4)</option>
                        <option value="2">Blue flaming widget (20/20)</option>
                        <option value="2">Ice gadget (10/18)</option>
                    </select>
                </form>
            </td>
        </tr>
    </table>
</div>