<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>City view</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <div th:insert="fragments/header" id="huh"></div>   
</head>

<body>
    <h3 th:text="@{Welcome to {name}(name=${cityName})}!"></h3>
    <br/>
    <p>Shops:</p>
    <ul>
        <li th:each="shop : ${shops}">
            <a th:href="@{/shop/{id}(id=${shop.name})}" th:text="${shop.name}" />
        </li>
    </ul>
    <p>Gyms:</p>
    <ul>
        <li th:each="gym : ${gyms}">
            <a th:href="@{/gym/{id}(id=${gym.name})}" th:text="${gym.name}" />
        </li>
    </ul>
    <p>Paths:</p>
    <ul>
        <li th:each="path : ${paths}">
            <a th:text="${path}" />
        </li>
    </ul>
</html>
