<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>City view</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <div th:insert="fragments/header"></div>   
</head>

<body>
    <h3 th:text="@{'Welcome to ' + ${cityName}}" />
    <br/>
    <p>Shops:</p>
    <ul>
        <li th:each="shop : ${shops}">
            <a th:href="@{/Shop/{id}(id=${shop.value})}" th:text="${shop.key}" />
        </li>
    </ul>
    <p>Gyms:</p>
    <ul>
        <li th:each="gym : ${gyms}">
            <a th:href="@{/Gym/{id}(id=${gym.value})}" th:text="${gym.key}" />
        </li>
    </ul>
    <p>Paths:</p>
    <ul>
        <li th:each="path : ${paths}">
            <a th:href="@{/Path/{id}(id=${path.value})}" th:text="${path.key}" />
        </li>
    </ul>
</html>
