<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>City view</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <div th:insert="fragments/header"></div>   
</head>

<body>
    <h3 th:text="${cityName}"></h3>
    <br/>
    <!-- TO DO: For all of the below, we should have an associated ID -->
    <p>Shops:</p>
    <ul>
        <li th:each="shop : ${shops}">
            <!-- <a th:href="@{/Shop/{id}(id=${shop.name})}" th:text="${shop.name}" /> -->
            <a href="/Shop" th:text="${shop.name}" />
        </li>
    </ul>
    <p>Gyms:</p>
    <ul>
        <li th:each="gym : ${gyms}">
            <a href="/Gym" th:text="${gym.name}" />
        </li>
    </ul>
    <p>Paths:</p>
    <ul>
        <li th:each="path : ${paths}">
            <a href="/Path" th:text="${path}" />
        </li>
    </ul>
</html>
