<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--TODO: add dropdown to cycle through party!-->
        <table id="NameAndSpecies">
            <tr>
                <td th:text="${Name}">
                </td>
                <td> || </td>
                <td>
                    Insert Species Name
                </td>
            </tr>
        </table>
        <table id="StatsSidebar"><!-- Uses id for CSS to format page position-->
            <tr>
                <td>A</td>
            </tr>
            <tr>
                <td>D</td>
            </tr>
            <tr>
                <td>SA</td>
            </tr>
            <tr>
               <td>SD</td>
            </tr>
            <tr>
                <td>SP</td>
            </tr>
            <tr>
                <td>HP</td>
            </tr>
        </table>
        <p>
            Insert ability details here
        </p>
        <p>
            Nature
        </p>
    </head>
</html>