<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>City view</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <div th:insert="fragments/header"></div>   
    </head>
    <body>
        <!--TODO: add dropdown to cycle through party!-->
        <div th:each="C: ${Critters}">
            <table  id="NameAndSpecies">
                <tr>
                    <td th:text="${C.name}">
                    </td>
                    <td> || </td>
                    <td th:text="${C.SpeciesName}">
                    </td>
                </tr>
            </table>
            <table id="StatsSidebar"><!-- Uses id for CSS to format page position-->
                <tr th:each="E: ${C.statValues}">
                    <td th:text="${E.attributeValue}" th:style="'color:' + ${E.attributeColor}"></td>
                </tr>
            </table>
            <p>
                Insert ability details here
            </p>
            <p>
                Nature
            </p>
        </div>
    </body>
</html>