<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Shop view</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <div th:insert="fragments/header"></div>   
</head>

<body>
    <h3 th:text="${gymName}"></h3>
    <br/>
    <p th:text="@{${trainerName} + ' has the following critters ready for training:'}" />
    <ul>
        <li th:each="critter : ${critters}">
            <p th:text="@{${critter.name} + ' the ' + ${critter.species.name}}" +></p>
        </li>
    </ul>
</body>
</html>
