<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Login view</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- <div th:insert="fragments/header"></div> -->
</head>

<body>
    <h2>Welcome to Critter Quest!</h2> 
    <p>
        Please sign in to continue.
    </p>
    <div class="form">
        <form action="Login" method="post">
            <input id="action" name="action" type="hidden" value="welcome" />
            <table>
                <tr>
                    <td> NAME: </td>
                    <td><input id="username" name="username"> </td>
                    <td><input type="submit" value="Submit"></td> 
                </tr>
            </table>
        </form>
    </div>
</body>


</html>